In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('training_test_data.csv')

In [3]:
data

    Age  Gender  Experience  Income
0    50       1          15     180
1    29       1           5     163
2    36       1           6     134
3    34       2           4     132
4    46       1           9     188
5    33       1           3     127
6    26       2           8     141
7    23       1           5     122
8    48       1           7     169
9    24       1           5     114
10   44       1          10     174
11   60       1          25     190
12   51       2          17     190
13   24       2           1     110
14   28       1           2     120
15   32       1           3     130
16   46       1          12     165
17   39       1          10     170
18   23       2           3     120
19   28       1           1     130
20   33       1           3     133
21   48       2          15     167
22   39       1           6     155
23   40       1           9     159
24   46       1          13     179
25   49       2          22     200
26   28       1           3     120
27   30       2           1     145
28   52       2          27     181
29   51       2          21     198
..  ...     ...         ...     ...
70   21       2           1     118
71   46       1          19     168
72   53       1          24     156
73   50       2          21     185
74   59       1          33     156
75   38       2          10     138
76   43       2          17     174
77   60       2          32     158
78   50       1          20     191
79   55       2          25     154
80   24       2           2     114
81   53       2          23     200
82   47       2          21     168
83   55       1          26     155
84   24       2           1     124
85   32       1           3     160
86   46       2          19     190
87   26       1           1     124
88   26       2           2     120
89   44       1          16     189
90   36       1          11     144
91   30       1           2     155
92   26       2           2     125
93   57       2          28     166
94   47       2          18     197
95   46       2          19     198
96   31       1           6     130
97   57       2          29     168
98   22       1           1     129
99   58       2          29     190

[100 rows x 4 columns]

In [4]:
data_np = data.values # Convert pandas to numpy array

In [5]:
# 종속변수와 독립변수 데이터 분리하기
y = data_np[:,-1]
X = data_np[:,:-1]

In [6]:
X

array([[50,  1, 15],
       [29,  1,  5],
       [36,  1,  6],
       [34,  2,  4],
       [46,  1,  9],
       [33,  1,  3],
       [26,  2,  8],
       [23,  1,  5],
       [48,  1,  7],
       [24,  1,  5],
       [44,  1, 10],
       [60,  1, 25],
       [51,  2, 17],
       [24,  2,  1],
       [28,  1,  2],
       [32,  1,  3],
       [46,  1, 12],
       [39,  1, 10],
       [23,  2,  3],
       [28,  1,  1],
       [33,  1,  3],
       [48,  2, 15],
       [39,  1,  6],
       [40,  1,  9],
       [46,  1, 13],
       [49,  2, 22],
       [28,  1,  3],
       [30,  2,  1],
       [52,  2, 27],
       [51,  2, 21],
       [22,  2,  1],
       [31,  2,  4],
       [28,  2,  2],
       [38,  1, 11],
       [40,  1, 13],
       [35,  1,  5],
       [21,  2,  1],
       [37,  2, 10],
       [57,  1, 30],
       [41,  2, 15],
       [49,  2, 22],
       [30,  2,  2],
       [26,  2,  1],
       [37,  2, 11],
       [28,  2,  2],
       [59,  1, 33],
       [29,  1,  2],
       [23,  1,  1],
       [37,  1, 11],
       [22,  1,  1],
       [55,  1, 30],
       [23,  2,  1],
       [34,  1,  8],
       [57,  2, 29],
       [57,  1, 31],
       [27,  1,  5],
       [50,  1, 21],
       [33,  1,  7],
       [22,  1,  1],
       [33,  2,  3],
       [24,  2,  2],
       [52,  1, 24],
       [23,  2,  2],
       [51,  2, 26],
       [53,  2, 26],
       [25,  2,  0],
       [33,  1,  6],
       [57,  1, 30],
       [59,  2, 33],
       [28,  2,  3],
       [21,  2,  1],
       [46,  1, 19],
       [53,  1, 24],
       [50,  2, 21],
       [59,  1, 33],
       [38,  2, 10],
       [43,  2, 17],
       [60,  2, 32],
       [50,  1, 20],
       [55,  2, 25],
       [24,  2,  2],
       [53,  2, 23],
       [47,  2, 21],
       [55,  1, 26],
       [24,  2,  1],
       [32,  1,  3],
       [46,  2, 19],
       [26,  1,  1],
       [26,  2,  2],
       [44,  1, 16],
       [36,  1, 11],
       [30,  1,  2],
       [26,  2,  2],
       [57,  2, 28],
       [47,  2, 18],
       [46,  2, 19],
       [31,  1,  6],
       [57,  2, 29],
       [22,  1,  1],
       [58,  2, 29]], dtype=int64)

In [7]:
y

array([180, 163, 134, 132, 188, 127, 141, 122, 169, 114, 174, 190, 190,
       110, 120, 130, 165, 170, 120, 130, 133, 167, 155, 159, 179, 200,
       120, 145, 181, 198, 112, 143, 104, 160, 199, 127, 115, 146, 154,
       191, 155, 147, 110, 151, 127, 197, 117, 130, 151, 137, 181, 115,
       145, 178, 194, 126, 198, 138, 129, 131, 113, 155, 122, 159, 165,
       103, 141, 159, 194, 120, 118, 168, 156, 185, 156, 138, 174, 158,
       191, 154, 114, 200, 168, 155, 124, 160, 190, 124, 120, 189, 144,
       155, 125, 166, 197, 198, 130, 168, 129, 190], dtype=int64)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [10]:
from sklearn.linear_model import LinearRegression

## Intercept를 포함하는 경우

In [14]:
model1 = LinearRegression(fit_intercept=True)

In [12]:
model1.fit(X_train, y_train)

LinearRegression()

In [13]:
model1.coef_

array([ 2.77569996,  5.00614313, -1.20249275])

In [14]:
model1.intercept_

50.38517685696951

## Intercept 없는 모형

In [17]:
model2 = LinearRegression(fit_intercept=False)

In [16]:
model2.fit(X_train,y_train)

LinearRegression(fit_intercept=False)

In [17]:
model2.coef_

array([ 4.41174308, 10.50584128, -3.01104818])

In [18]:
model2.intercept_

0.0

## Cross validation

In [13]:
from sklearn.model_selection import cross_val_score

In [15]:
scores1 = cross_val_score(model1, X_train, y_train, cv=5)

In [16]:
scores1

array([0.67304499, 0.50962975, 0.56291159, 0.66389186, 0.32823263])

In [23]:
scores1.mean()

0.5695780915192455

In [18]:
scores2 = cross_val_score(model2, X_train, y_train, cv=5)

In [19]:
scores2

array([0.34286894, 0.59093262, 0.43033094, 0.50134095, 0.27182032])

In [20]:
scores2.mean()

0.42745875311819015

## 최종 평가: 평가 데이터 사용

In [27]:
model1.score(X_test,y_test)

0.577192322199908